.header-element{
    display: flex;
    height: 40px;
    background-color : #263238;
    line-height: 40px;
    padding: 20px;
    align-items: center;
}

.logo{
    color: #fff;
    font-size: 18px;
    text-decoration-line: none; 
}

